@import "tailwindcss";


@theme {
    /* colors */
    --color-primary: #00856F;
    --color-green-light: #DCE9E2;
    --color-green-light-02: #F7F9F9;
    --color-brand-beige: #FFFAF1;
    --color-brand-green-hover: #00453A;
    --color-secondary: #495057;

    /* fonts */
    --font-primary: "DM Sans", "sans-serif";

}